@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,700&family=Montserrat:ital,wght@0,300;0,600;1,600&display=swap");

.skillContainer {
  background-image: url("https://designpickle-resources.s3.us-east-2.amazonaws.com/2020/Zoom+Backgrounds/April/20_DesignPickle_Zoom_Background-1.jpg");
 
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px 0;
  background-size: cover;
  border-radius: 10px;
}
.skillContainer__text {
  color: black;
  background-size: cover;
  flex: 0.6;
  text-align: left;
  max-width: 500px;
  margin-bottom: 10px;
}
.container {
  background-size: contain;

}
.skill:hover {
  background-color: transparent;
  color: gray;
  border-radius: 10px;
  border: 3px solid black !important;
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: hand;
}
.skillContainer__text > h2 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 20px;
}
.skillContainer__image {
  flex: 0.4;
  text-align: center;
  margin-right: 50px;
  align-items: center;
 
}
.skillContainer__image > img {
  width: 30vw;
  border-radius: 20px;
  object-fit: contain;
  margin-top: 150px;
  margin-bottom: 10px;
  margin-left: 150px !important;
}
.skillContainer__image :hover {
 
  color: orangered;
  font-size: 15px;
  border-radius: 40px;
  border: 2px solid black;
  padding: 0%;
  font-weight: 700;
  cursor: pointer;

  font-family: cursive;
  transform: scale(1.03);
  transition-duration: 0.1s;
}
.skillContainer__skillset {
  background-size: cover;
  padding:17px;
}
.skillContainer__skillset > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.slider1 {
  color: brown;
}
.skillContainer_slider > .MuiLinearProgress-colorPrimary {
  background-color: white;
}

.slider1 {
  color: magenta;
}

.skillContainer_slider2 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(156, 26, 3);
}
.skillContainer_slider3 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(255, 145, 0);
}
.skillContainer_slider4 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(228, 223, 0);
}
.skillContainer_slider5 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(136, 146, 0);
}
.skillContainer_slider6 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(255, 209, 6);
}
.skill {
  background-color: lavenderblush;
  color: black;
  text-align: center;
  justify-content: center;
  width: 15vw;
  margin-left:460px;
  border-radius: 5px;
  margin-bottom: 24px;
  margin-top: 100px;
}
.skill2 {
  display: none;
}
.skill:hover {
  background-color: transparent;
  color: gray;
  border-radius: 10px;
  border: 3px solid black !important;
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: hand;
}
@media screen and (max-width: 480px) {
  .skillContainer__text > h2 {
    text-align: center;
  }
  .skill2 {
    display: block;
    position: absolute;
    padding-bottom: 500px;
    
    width: 25vw;
  
    font-size: 28px;
    border-radius: 5px;
  }
  .skill {
    display: none;
  }
  .skillContainer__image {
    /* Your existing styles */
    position: absolute;
    top: 0;
    left: 34%;
    transform: translateX(-50%);
    margin-top: 500px;
    border-radius: 20px;


   
    

   
  }
  .skillContainer__image :hover {
    border: none;

  }
  .skillContainer__image > img{
    height:650px;
    width: 50vw;
    border: none;
   

  }
  .container{
    margin-top: 320px;
  }
  .skillContainer{
    margin-top: 10%;
    margin-bottom: 0%;
    height:auto;
    }
}